<h1>Register as a User</h1>
<form action='/user/register' method="POST">
    <label for="firstName">Enter First Name: </label>
    <input type="text" name="firstName" placeholder="Enter First Name" /><br>

    <label for="lastName">Enter Last Name: </label>
    <input type="text" name="lastName" placeholder="Enter Last Name" /><br>

    <label for="username">Enter Username: </label>
    <input type="text" name="username" placeholder="Enter Username" /><br>

    <label for="password">Enter Password: </label>
    <input type="password" name="password" placeholder="Enter Password" /><br>

    <button type="submit">Register</button>
</form>